In [2]:
import pymongo
import pandas as pd
import warnings

In [3]:
pd.set_option("display.max_columns",None)
warnings.filterwarnings("ignore")

In [5]:
client = pymongo.MongoClient("mongodb+srv://nivethailangoselvan:mongonivetha123@cluster0.djqt4r4.mongodb.net/")

db= client["sample_airbnb"]
coll= db["listingsAndReviews"]

In [13]:
data = []

for i in coll.find({},{"_id":1,"name":1, 'property_type':1, 'room_type':1,  'bedrooms':1,'minimum_nights':1 ,'number_of_reviews':1,'price':1,"host_name":1,'availability_365':1 }):
    data.append(i)

In [15]:
df_1 = pd.DataFrame(data)

In [16]:
df_1

,_id,name,property_type,room_type,minimum_nights,bedrooms,number_of_reviews,price
0,10006546,Ribeira Charming Duplex,House,Entire home/apt,2,3.0,51,80.00
1,10009999,Horto flat with small garden,Apartment,Entire home/apt,2,1.0,0,317.00
2,1001265,Ocean View Waikiki Marina w/prkg,Condominium,Entire home/apt,3,1.0,96,115.00
3,10021707,Private Room in Bushwick,Apartment,Private room,14,1.0,1,40.00
4,10030955,Apt Linda Vista Lagoa - Rio,Apartment,Private room,1,1.0,0,701.00
...,...,...,...,...,...,...,...,...
5550,9983221,Cozy apartment downtown Porto,Apartment,Entire home/apt,3,1.0,107,58.00
5551,9985696,Kadıköy-Altıyol,House,Entire home/apt,1,2.0,0,501.00
5552,9987200,The best suite in Copacabana (total privacy),Aparthotel,Private room,3,1.0,90,101.00
5553,9990304,March Madness Special! Aina Nalu Platinum D107,Condominium,Entire home/apt,3,2.0,13,227.00
5554,9993190,Just Steps from the Ocean at Premier Platinum ...,Townhouse,Entire home/apt,3,2.0,15,220.00

In [23]:
#Checking null values

df_1.isna().sum()

_id                  0
name                 0
property_type        0
room_type            0
minimum_nights       0
bedrooms             5
number_of_reviews    0
price                0
dtype: int64

In [24]:
#Handiling null values for bedroom

df_1["bedrooms"].fillna(0,inplace= True)

In [25]:
df_1.isna().sum()

_id                  0
name                 0
property_type        0
room_type            0
minimum_nights       0
bedrooms             0
number_of_reviews    0
price                0
dtype: int64

In [26]:
host= []
for i in coll.find({},{"_id":1, "host":1}):
    host.append(i)

In [28]:
df_host= pd.DataFrame(host)

In [32]:
host_columns= {"_id":[],'host_id':[], 'host_name':[]}

for i in df_host["_id"]:
    host_columns["_id"].append(i)

for i in df_host["host"]:
    host_columns["host_id"].append(i["host_id"])
    host_columns["host_name"].append(i["host_name"])

In [33]:
df_host_1 = pd.DataFrame(host_columns)

In [ ]:
df_host_1

In [36]:
df_host_1.isna().sum()

_id          0
host_id      0
host_name    0
dtype: int64

In [37]:
#Address details

address= []
for i in coll.find({}, {"_id":1, "address":1}):
    address.append(i)

In [41]:
df_address = pd.DataFrame(address)

In [42]:
address_columns= {'_id':[], 'country':[],
                    "longitude":[], "latitude":[]}
                    

for i in df_address["_id"]:
    address_columns["_id"].append(i)

for i in df_address["address"]:
    address_columns["country"].append(i["country"])
    address_columns["longitude"].append(i["location"]["coordinates"][0])
    address_columns["latitude"].append(i["location"]["coordinates"][1])

In [43]:
df_address_1= pd.DataFrame(address_columns)

In [45]:
df_address_1.isna().sum()

_id          0
country      0
longitude    0
latitude     0
dtype: int64

In [46]:
#Availability Details:

availability= []
for i in coll.find({}, {"_id":1, "availability":1}):
    availability.append(i)
df_availabe= pd.DataFrame(availability)
availabe_columns= {'_id':[],'availability_365':[]}

for i in df_availabe["_id"]:
    availabe_columns["_id"].append(i)

for i in df_availabe["availability"]:
    availabe_columns["availability_365"].append(i["availability_365"])

In [47]:
df_availabe_1= pd.DataFrame(availabe_columns)

In [49]:
df_availabe_1.isna().sum()

_id                 0
availability_365    0
dtype: int64

In [50]:
#Merging all data Frame

df= pd.merge(df_1, df_host_1, on="_id")
df= pd.merge(df, df_address_1, on="_id")
df= pd.merge(df, df_availabe_1, on="_id")

In [ ]:
df.head()

In [54]:
# save the data frame to csv file
df.to_csv("Airbnb_analysis.csv", index= False)

In [55]:
df= pd.read_csv("Airbnb_analysis.csv")

In [56]:
df

,_id,name,property_type,room_type,minimum_nights,bedrooms,number_of_reviews,price,host_id,host_name,country,longitude,latitude,availability_365
0,10006546,Ribeira Charming Duplex,House,Entire home/apt,2,3.0,51,80.0,51399391,Ana&Gonçalo,Portugal,-8.613080,41.141300,239
1,10009999,Horto flat with small garden,Apartment,Entire home/apt,2,1.0,0,317.0,1282196,Ynaie,Brazil,-43.230750,-22.966254,0
2,1001265,Ocean View Waikiki Marina w/prkg,Condominium,Entire home/apt,3,1.0,96,115.0,5448114,David,United States,-157.839190,21.286340,343
3,10021707,Private Room in Bushwick,Apartment,Private room,14,1.0,1,40.0,11275734,Josh,United States,-73.936150,40.697910,0
4,10030955,Apt Linda Vista Lagoa - Rio,Apartment,Private room,1,1.0,0,701.0,51496939,Livia,Brazil,-43.205047,-22.971951,363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9983221,Cozy apartment downtown Porto,Apartment,Entire home/apt,3,1.0,107,58.0,37776205,Ana,Portugal,-8.616930,41.151370,300
5551,9985696,Kadıköy-Altıyol,House,Entire home/apt,1,2.0,0,501.0,51303748,Eren,Turkey,29.030790,40.985630,365
5552,9987200,The best suite in Copacabana (total privacy),Aparthotel,Private room,3,1.0,90,101.0,51314789,Dumont,Brazil,-43.176533,-22.961076,53
5553,9990304,March Madness Special! Aina Nalu Platinum D107,Condominium,Entire home/apt,3,2.0,13,227.0,51013381,Coconut Condos,United States,-156.676460,20.875610,243
5554,9993190,Just Steps from the Ocean at Premier Platinum ...,Townhouse,Entire home/apt,3,2.0,15,220.0,51013381,Coconut Condos,United States,-156.667520,20.858940,258